/* Div comportant les divs d'informations du personnage */
.Character_Infos{
    margin: 1% auto;
    padding: 0.5%;
}

/*  Divs qui contient le nom, l'image et l'icone du type du personnage. */
.Character_Icon{
    background-color: green;
    text-align: center;
    border: solid #444 2px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    width: min-content;
    height: min-content;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    align-content: center;
}

.Character_Icon p{
    color: #eee;
    padding: 7.5px 0px 7.5px 0px;
    margin: 0px;
    background-color: #444;
}

/* Contient les infos principales du personnage */
.Character_Info{
    margin: 5% 35%;
}

.Character_Info table{
    display: table;
    text-align: center;
    border-collapse: collapse;
}

.Table_Infos, .Table_Infos_Type, .Table_Infos_Affiliation, .Table_Infos_Rarity{
    font-weight: bold;
    text-align: center;
    border: solid black 1px;
    width: 50%;
    background-color: rgba(204,204,204,0.8158615496980042);
}

.Table_Infos_Type, .Table_Infos_Type p{
    align-content: ju
    ;
}

.Table_Infos_Affiliation, .Table_Infos_Affiliation p{
    align-content: inherit;
}

.Table_Infos_Rarity, .Table_Infos_Rarity p{
    align-content: inherit;
}

.Character_Type{
    float: left;
    margin: auto auto auto 2%;
}

/* Div contenant la table des stats du personnage */
.Character_Stats{
    width: auto;
    margin: 2% 35%;
}

/* Table des stats */
.Character_All_Stats{
    width: 100%;
    border-collapse: collapse;
}

.Character_All_Stats td{
    border: solid black 1px;
}

.Stats{
    padding: 0.2% 1%;
    background-color: #fff;
}

.Stats_img{
    width: auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #eaecf0;
    text-align: center;
}

/* Petite Div qui indique le niveau max du personnages, suivi de ses stats */
#Lv120{
    padding: 1% 2%;
    margin: auto;
    width: max-content;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    border: solid black 1px;
    border-bottom: solid transparent 1px;
}