/* CSS du menu */
.menu{
	width: 90%;
	margin: auto;
	padding: auto;
	list-style: none;
    text-align: center;
}
   .menu li{
    display:inline-block;
    position:relative;
    border-radius:9px 9px 9px 9px;
    margin: 1%
    }
    
    .menu ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    }

    /* background des liens du menu */ 
  
    .menu li:first-child, .menu li:nth-child(2), .menu li:nth-child(3), .menu li:nth-child(4), .menu li:nth-child(5){
    background: rgb(11,71,71);
	background: linear-gradient(0deg, rgba(11,71,71,1) 2%, rgba(21,129,130,1) 15%, rgba(21,129,130,1) 85%, rgba(11,71,71,1) 98%);
    }
    
    /* background des liens du menu au survol */ 
    
    .menu li:first-child:hover, .menu li:nth-child(2):hover, .menu li:nth-child(3):hover, .menu li:nth-child(4):hover, .menu li:nth-child(5):hover{
    background: rgb(11,140,140);
	background: linear-gradient(0deg, rgba(11,140,140,1) 2%, rgba(21,200,200,1) 15%, rgba(21,200,200,1) 85%, rgba(11,140,140,1) 98%);
    }
    
    /* les liens */ 
    .menu a{
    text-decoration:none;
    display:block;
    padding:8px 32px;
    color:#fff;
    }
    .menu ul a{
    padding:8px 0;
    }
    .menu li:hover a, .menu li li:hover a{
    color:#000;
    }